html,
body {
	font-family: "Lato", sans-serif;
	color: var(--color-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lato", sans-serif;
}

html {
	background: url("../img/stars.svg") repeat-y #02011B;
	background-size: 100vw;
}

* {
	&::selection {
		background: #F16521;
		color: var(--color-light);
	}
}

.header {
	padding-top: 20px;
}

.test {
	opacity: 0;
	transform: translateX(20px);
}

.intro {
	text-transform: uppercase;
	font-size: 18vw;
	line-height: 1;
	color: var(--color-light);
	font-family: "Roboto Mono", monospace;

	@media (--screen-lg) {
		font-size: 144px;
		line-height: 147px;
	}
}

.deep-impact {
	margin-top: 40px;
}

.bg-image {
	background-image: url("../img/planet-1.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	padding: 0 20px;
	margin-top: 50px;

	&.image-2 {
		background-image: url("../img/planet-2.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: top center;
		display: flex;
		padding-top: 20px;

		& .image {
			height: 100%;
		}
	}

	&.image-3 {
		background-image: url("../img/planet-3.svg");
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		display: flex;
		padding-top: 20px;

		@media (--screen-lg) {
			background-size: contain;
			background-position: -10% 0;
		}

		& .image {
			height: 100%;
		}
	}

	&.image-4 {
		background-image: url("../img/planet-2.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 120% 0;
		display: flex;
		padding-top: 20px;

		& .image {
			margin-top: 50px;

			@media (--screen-lg) {
				position: absolute;
				right: 0;
				z-index: 0;
			}
		}
	}

	&.image-5 {
		background-image: url("../img/planet-3.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 20% 0;
		display: flex;
		padding-top: 20px;

		& .image {
			@media (--screen-lg) {
				position: absolute;
				left: 20%;
				top: 0;
				z-index: 0;
			}
		}
	}

	&.image-6 {
		background-image: url("../img/planet-2.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: top center;
		min-height: 100vh;
		position: relative;
		overflow: hidden;
		padding: 0 20px;
		margin-top: 50px;

		& .image {
			margin-top: 0;
		}
	}

	& .space-ship-1 {
		position: absolute;
		top: 0;
		right: 20px;
		max-width: 150px;

		@media (--screen-lg) {
			right: 20%;
			max-width: initial;
		}
	}
}

.numbers {
	line-height: 1;
	text-align: center;

	& span {
		display: block;
		font-size: 13vw;
		font-weight: 700;
		font-family: "Roboto Mono", monospace;
	}

	& em {
		display: block;
		font-size: 8vw;
		font-weight: 300;
		font-style: normal;
		color: rgba(255, 255, 255, 0.7);
	}
}

.giga-text {
	font-size: 15vw;
	font-family: "Roboto Mono", monospace;
	font-weight: 700;
	position: absolute;
	top: 18%;
	left: 50%;
	transform: translate(-50%, -50%);

	@media (--screen-lg) {
		font-size: 15vw;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&.last {
		position: static;
	}
}

.list-features {
	@media (--screen-lg) {
		padding-top: 100vh;
	}

	&.last {
		padding-top: 5%;

		@media (--screen-lg) {
			padding-top: 20%;
			padding-bottom: 0;
		}
	}

	& .image {
		margin-right: 20px;
		margin-top: 320px;

		@media (--screen-lg) {
			margin-top: 0;
			justify-content: flex-end;
			margin-right: 100px;
		}
	}

	&.image-2 {
		@media (--screen-lg) {
			padding-top: 0;
			margin: auto 0;
		}

		& .container {
			margin-top: auto;
			margin-bottom: auto;
		}

		& .image {
			margin-top: 0;
		}
	}
}

.special-list {
	list-style: none;
	margin: 0;
	padding: 0;

	& li {
		display: block;
		margin: 0 0 100px 0;
		padding: 0 0 0 50px;
		color: var(--color-light);
		font-weight: 800;
		font-size: 24px;
		line-height: 32px;
		text-transform: uppercase;
		position: relative;

		&:before {
			content: "";
			display: block;
			position: absolute;
			left: -7px;
			top: 0;
			width: 16px;
			height: 16px;
			background: var(--color-light);
			transform: rotate(45deg);
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			height: calc(100% + 100px);
			width: 2px;
			background: var(--color-light);
		}

		&:last-of-type {
			margin: 0;
			padding: 0 0 0 50px;

			&:after {
				content: none;
				display: none;
			}
		}

		& span {
			padding-bottom: 10px;
			display: block;
			font-weight: 400;
			font-size: 18px;
			line-height: 24px;
			font-family: "Roboto Mono", monospace;
			margin: -12px 0 0 0;
		}
	}
}

.horizontal-scroll {
	overflow: hidden;

	& .flex {
		gap: 100px;
	}

	& img {
		width: 450px;
	}
}

.limit-width {
	max-width: 560px;
}

.best-of-swiss {
	position: relative;

	& .title {
		font-weight: 900;
		font-size: 8vw;
		text-transform: uppercase;
		hyphens: auto;
		z-index: 10;
		padding-top: 60%;

		@media (--screen-lg) {
			font-size: 5vw;
			padding-top: 20%;
		}

		& strong {
			color: #F16521;
		}
	}

	& .image {
		width: 725px;
		height: 725px;
		position: absolute;
		right: 0;
		z-index: -1;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 100px;

		@media (--screen-lg) {
			margin-top: 0;
			top: 0;
			transform: none;
		}

		& .people {
			position: absolute;
			top: -5%;
			right: 15%;
		}

		& .planet {
			transform: rotate(180deg);
		}
	}
}

.date {
	padding-bottom: 10px;
	display: block;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	font-family: "Roboto Mono", monospace;
	margin: -12px 0 0 0;
}

.planet-3 {
	position: relative;
}

.min-height {
	min-height: 100vh;
}

.min-height-0 {
	min-height: 0;
}

.text-right {
	text-align: right;
}

.orange {
	color: #F16521;
}

.share {
	& .planet {
		margin: auto;
		width: 316px;
		height: 316px;
		background-image: url("../img/planet-3.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		display: flex;

		& button,
		& a {
			margin: auto;
			background: var(--color-light);
			border-color: var(--color-light);
			color: var(--color-primary);
			text-transform: uppercase;
			position: relative;

			&:after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				transform: translate(80%, -90%);
				display: block;
				width: 152px;
				height: 139px;
				background-image: url("../img/people-7.svg");
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center center;
			}
		}
	}
}

footer {
	display: block;
	text-align: center;
	padding: 20px;

	& p {
		font-weight: 400;
		font-size: 24px;
		line-height: 34px;
		margin: 0;
		padding: 0;
		color: var(--color-light);
	}
}